# {{@@ header() @@}}

### [b] = must be the first word on line
### [i] = expand snippet regardless of preceding characters

snippet env "LaTeX environment" b
\begin{${1}}${2}
	${0}
\end{$1}
endsnippet

snippet v_m "membrane potential" i
V\textsubscript{m}
endsnippet

snippet sup "superscript" i
\textsuperscript{${1}}${0}
endsnippet

snippet sub "subscript" i
\textsubscript{${1}}${0}
endsnippet

snippet frame "Beamer frame" b
\begin{frame} \frametitle{${1}}
	${0}
\end{frame}
endsnippet
