// {{@@ header() @@}}

// Note:
// If the default key layout is lower case,
// and you want to use `Shift + q` to trigger the exit event,
// the setting should like this `exit: ( code: Char('Q'), modifiers: "SHIFT",),`
// The Char should be upper case, and the modifier set to "SHIFT".
(
    tab_toggle:                Some(( code: Char('L'), modifiers: "SHIFT",)),
    tab_toggle_reverse:        Some(( code: Char('H'), modifiers: "SHIFT",)),

    focus_right:               Some(( code: Char('l'), modifiers: "",)),
    focus_left:                Some(( code: Char('h'), modifiers: "",)),
    focus_above:               Some(( code: Char('k'), modifiers: "",)),
    focus_below:               Some(( code: Char('j'), modifiers: "",)),

    exit:                      Some(( code: Char('q'), modifiers: "",)),
    quit:                      Some(( code: Char('q'), modifiers: "SHIFT",)),

    open_help:                 Some(( code: F(1),      modifiers: "",)),
    open_options:              Some(( code: F(2),      modifiers: "",)),

    move_left:                 Some(( code: Char('h'), modifiers: "",)),
    move_right:                Some(( code: Char('l'), modifiers: "",)),
    tree_collapse_recursive:   Some(( code: Char('l'), modifiers: "CONTROL",)),
    tree_expand_recursive:     Some(( code: Char('h'), modifiers: "CONTROL",)),
    home:                      Some(( code: Char('g'), modifiers: "",)),
    end:                       Some(( code: Char('G'), modifiers: "SHIFT",)),
    move_up:                   Some(( code: Char('k'), modifiers: "",)),
    move_down:                 Some(( code: Char('j'), modifiers: "",)),
    page_up:                   Some(( code: Char('b'), modifiers: "CONTROL",)),
    page_down:                 Some(( code: Char('f'), modifiers: "CONTROL",)),

    shift_up:                  Some(( code: Char('K'), modifiers: "SHIFT",)),
    shift_down:                Some(( code: Char('J'), modifiers: "SHIFT",)),

    edit_file:                 Some(( code: Char('I'), modifiers: "SHIFT",)),

    status_reset_item:         Some(( code: Char('U'), modifiers: "SHIFT",)),

    diff_reset_lines:          Some(( code: Char('u'), modifiers: "",)),
    diff_stage_lines:          Some(( code: Char('s'), modifiers: "",)),

    stashing_save:             Some(( code: Char('w'), modifiers: "",)),
    stashing_toggle_index:     Some(( code: Char('m'), modifiers: "",)),

    stash_open:                Some(( code: Char('l'), modifiers: "",)),
)
